@{
    <h1>Search</h1>
    <br />

    <form id="search-form" class="form-inline">
        <div class="form-group shadow bg-light">
            <input type="text" class="form-control" id="search" name="search" placeholder="Search by letter...">
        </div><br>
        <div class="form-group shadow bg-light">
            <select class="form-control" id="searchCategory" name="searchCategory">
                <option value="" selected>Select Category</option>
            </select>
        </div><br>
        <div class="form-group shadow bg-light">
            <select class="form-control" id="searchSubcategory" name="searchSubcategory">
                <option value="" selected>Select Sub-Category</option>
            </select>
        </div><br>
        <div class="form-group shadow bg-light">
            <input type="text" class="form-control" id="salary" name="salary" placeholder="Minimum Salary">
        </div>
    </form>
    <br />

    <div id="search-results">
         
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var job in ViewBag.jobs)
                {
                    <div class="col">
                        <div class="card h-100 shadow">
                            <div class="card-body">
                                <h5 class="card-title">@job.Name</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@job.Category - @job.SubCategory</h6>
                                <p class="card-text">Salary: @job.Salary/-</p>
                                <p class="card-text">Deadline: @job.DeadLine.ToShortDateString()</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
    </div>
}

<script src="~/js/categories.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(':input').on("input", function () {
            $.ajax({
                url: '@Url.Action("Search", "Search")',
                data: $('#search-form').serialize(),
                method: 'POST',
                success: function (data) {
                    $('#search-results').html(data);
                }
            });
        });
    });

    var categoryObject = @Html.Raw(Json.Serialize(ViewBag.categories));
    var categorySel = document.getElementById("searchCategory");
    var subcategorySel = document.getElementById("searchSubcategory");
    initCategories(categoryObject, categorySel, subcategorySel);
</script>