@{
	ViewData["Title"] = "Jobs";
}

<div id="message">
	@if (TempData["message"] != null && TempData["message"].ToString()!.Length > 0)
	{
		<div class="alert @TempData["messageType"]">
			@TempData["message"]
			<button class="btn-close" onclick="document.getElementById('message').innerHTML=''"></button>
		</div>
	}
</div>

<script>
	function deleteJob(id) {
		if (confirm("Are you sure you want to delete?")) {
			location.href = "Delete?id=" + id;
		}
	}
</script>
<a href="/Admin/AddJob" class="btn btn-primary">Add Job</a>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Category</th>
			<th>Sub-category</th>
			<th>Salary</th>
			<th>Deadline</th>
			<th>Company name</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		@{
			JobModel? editJob = null;
		}
		@foreach (var job in (List<JobModel>)ViewData["jobs"])
		{
			@if (ViewData["editID"] != null && (int)ViewData["editID"]! == job.Id)
			{
				editJob = job;
				<form method="post" action="Edit">
				<tr>
					<td><input type="hidden" name="id" value="@job.Id" />@job.Id</td>
					<td><input name="name" value="@job.Name"></td>
					<td>
						<select class="form-control" name="category" id="category" required>
						</select>
					</td>
					<td>
						<select class="form-control" name="subcategory" id="subcategory" required>
						</select>
					</td>
					<td><input name="salary" value="@job.Salary"></td>
					<td><input type="date" name="deadline" value="@job.DeadLine.ToString("yyyy-MM-dd")"></td>
					<td><input name="CompanyName" value="@job.CompanyName"></td>

					<td><button class="btn btn-primary" type="submit">Update</button></td>
					<td><a class="btn btn-danger" href="Jobs">Cancel</a></td>
				</tr>
				</form>
			}

			else
			{
				<tr>
					<td>@job.Id</td>
					<td>@job.Name</td>
					<td>@job.Category</td>
					<td>@job.SubCategory</td>
					<td>@job.Salary</td>
					<td>@job.DeadLine.ToString("yyyy-dd-MM")</td>
					<td>@job.CompanyName</td>

					<td><a class="btn btn-primary" href="Jobs?editid=@job.Id">Edit</a></td>
					<td><button class="btn btn-danger" onclick="deleteJob(@job.Id)">Delete</button></td>
				</tr>
			}
		}
	</tbody>
</table>
@if (editJob != null)
{
	<script>
		var categoryObject = @Html.Raw(Json.Serialize(ViewBag.categories));

		var categorySel = document.getElementById("category");
		var subcategorySel = document.getElementById("subcategory");

		var categories = Object.keys(categoryObject);

		// populate cateogories
		for (var i = 0; i < categories.length; i++) {
			categorySel.options[i + 1] = new Option(categories[i], categories[i]);
		}

		categorySel.onchange = function () {
			// empty sub-category dropdown
			subcategorySel.length = 1;
			// display correct values
			var z = categoryObject[this.value];
			for (var i = 0; i < z.length; i++) {
				subcategorySel.options[subcategorySel.options.length] = new Option(z[i], z[i]);
			}
		}

		categorySel.value = "@editJob.Category";
		categorySel.onchange(); // call forcibly, otherwise the values aren't loaded
		subcategorySel.value = "@editJob.SubCategory";
	</script>
}
