@model IEnumerable<MobileRecharge.Models.MobilePlan>

@{
    ViewData["Title"] = "Index";
}



<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="new-plans"> Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceProvider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfMonths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th class="payment">Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceProvider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfMonths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>

            <td>
                @if (User.IsInRole("Admin")) {
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action = "Details" asp-route-id = "@item.Id"> Details </a> 
                <a asp-action = "Delete" asp-route-id = "@item.Id"> Delete </a>
                }
                else{
                        <form method="post" asp-controller="MobilePlans" asp-action="Index" asp-route-id="@item.Id" >
                            <button type="submit">Recharge</button>
                        </form>
                }
            </td>
        </tr>
}
    </tbody>
</table>


<script>
    const tour = new Shepherd.Tour({
        defaultStepOptions: {
            cancelIcon: {
                enabled: true
            },
            scrollTo: { behavior: 'smooth', block: 'center' }
        }
    });

    tour.addStep({
        title: 'Create New Plans Here',
        text: `You Can Create new mobile plans here`,
        attachTo: {
            element: '.new-plans',
            on: 'right'
        },
        buttons: [
            {
                action() {
                    return this.cancel();
                },
                classes: 'shepherd-button-secondary',
                text: 'Close'
            },
        ],
        id: 'plans-add-help',
        showOn: () => Boolean(document.querySelector(".new-plans"))
    });

    tour.addStep({
        title: 'You Can Recharge Here',
        text: `If You like the plan then click this button to recharge it`,
        attachTo: {
            element: '.payment',
            on: 'bottom'
        },
        buttons: [
            {
                action() {
                    return this.back();
                },
                classes: 'shepherd-button-secondary',
                text: 'Back'
            },
            {
                action() {
                    return this.next();
                },
                text: 'Next'
            }
        ],
        id: 'recharge-add-help',
        showOn: () => Boolean(document.querySelector(".recharge"))
    });

    tour.start();
</script>